<div *ngIf="post"><br>
    <div class="container" *ngIf="post">
        <h3 class="text-center">{{post.post_title| uppercase}} Details</h3><br>
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Post ID: </strong>{{post.id}}</li>
                <li class="list-group-item"><strong>USER ID: </strong>{{post.user}}</li>
                <p class="card-body">{{ post.post_detail }}</p>
                <li class="list-group-item taskDate"><strong
                        style="color:rgb(6, 6, 85)">{{ post.post_date | date }}</strong></li>

            </ul>
        </div>
        <button class="btn btn-info" style="margin: auto;" (click)="goBack()">GO BACK</button>
    </div>
</div>